* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropdowns {
	display: flex;
	background-color: gray;
	justify-content: center;
	gap: 3%;
	padding: 1%;
}

@keyframes train {
	0% {
		left: -150px;
		transform: scaleX(1);
	}
	49% {
		left: calc(100% + 150px);
		transform: scaleX(1);
	}
	50% {
		left: calc(100% + 150px);
		transform: scaleX(-1);
	}
	100% {
		left: -150px;
		transform: scaleX(-1);
	}
}

img {
	position: absolute;
	width: 100px;
	height: auto;
	animation: train 6s ease-in-out infinite;
}

h1 {
	text-align: center;
	background-color: rgb(16, 130, 206);
	padding: 2%;
}

.burger {
	background-color:cornflowerblue;
	position: relative;
	width: max-content;
	border-radius: 10px;
	padding: 2%;
}

.burger::after {
	content: "Closed :|";
}

.burger:hover::after {
	content: "Opened :D";
}

.burger:hover .content {
	background-color: rgb(213, 219, 191);
	display: block;
}

p:hover {
	background-color: rgb(188, 211, 42);
}

p {
	margin: 3%;
	margin: 5%;
}

.burger .content {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 42;
	padding: 1%;
	width: 100%;
}

.burger .content p {
	width: min-content;
	margin: auto;
	padding: 1%;
	border-radius: 10px;
}

footer {
	position: fixed;
	bottom: 0;
}